.tooltip{
    opacity: 1;
}
.tooltip .tooltiptext{
    opacity: 1;
}
#form-container{
    height: 50vh;
    width: 90vw;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    justify-content: center; 
    align-items: center;
    color: rgb(182, 245, 224);
}
#form{
    margin: auto;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap;
    width: 60%;
    height: 10rem;
}

input[type=text]{
    user-select: none;
    background-color: rgba(216, 216, 218, .3);
    color:rgb(255, 255, 255);
    width: 70rem;
    height: 2rem;
    padding: 12px 20px;
    /* text-align: center; */
    border-color: rgb(74, 74, 92);
    border-radius: 30px;
    border: none;
    font-size: 1.6rem;
}
input[type=submit]{
    background-color: rgb(30,30,30);
    color:rgb(255, 255, 255);
    width: 8rem;
    height: 3rem;
    /* box-sizing: border-box; */
    border-radius: 25px;
    font-family: 'georgia';
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
}
input[type=submit]:hover{
    background: rgba(255, 255, 255, .7);
    color: black;
}

input[type=submit]:active {
    transform: scale(0.95);
}