body {
    background-color: rgba(54,57,62);
    height: 90vh;
    margin: 0;
    align-items:center;
    justify-content: center;
    display: flex;
    color: rgb(182, 245, 224);
    bottom: 10%;
}
#form{
    text-align: center;
    height: 200;
    max-width: 50vh;
    margin: 0 auto;
}
input[type=text]{
    background-color: rgb(216, 216, 218);
    color:rgb(2, 26, 18);
    width: 40vh;
    height: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    text-align: center;
    border-color: rgb(74, 74, 92);
    border-radius: 25px;
}
input[type=submit]{
    width: 10vh;
    height: 5vh;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: center;
    border-radius: 25px;
    background-color: rgb(95, 158, 160);
    font-family: sans-serif;
    font-size: 0.8rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}
input[type=submit]:hover,
input[type=submit]:focus {
    background: rgb(47, 79, 80);
}

input[type=submit]:focus {
    outline: 1px solid rgb(151, 139, 139);
    outline-offset: -4px;
}

input[type=submit]:active {
    transform: scale(0.99);
}