#main-container{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -10px;
    height: 100%;
    width: 100%;
    min-height: 900px;
}

#lds-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -10px;
    height: 100%;
    width: 100%;
}

#chart-1{
    align-self:flex-end;
    height: 200;
    margin: 0 auto;
}
#chart-1.column{
    --labels-size:3rem;
}
#chart-1 tr {
    transition-duration: 0.3s;
    max-width: 7rem;
}
#chart-1 tr:hover {
    background-color: rgba(135, 193, 216, 0.2);
}
#chart-1 tr:hover th {
    background-color: rgba(43, 67, 77, 0.2);
}

.checkbox-container{
  position: absolute;
  top: 90vh;
  right: 5vw;
  gap: 0.4rem;
  font-size: 1.2rem;
  display: grid;
  justify-items: end;
  opacity: 0;
}

.data{
    color: white;
    font-family: cursive;
    text-shadow: 1px 1px 1px black;
}

.lds-ring {
    opacity: 1;
    margin: auto;
    --loading-ring-size: 160px;
    display: inline-block;
    position: relative;
    width: var(--loading-ring-size);
    height: var(--loading-ring-size);
  }
  
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: var(--loading-ring-size);
    height: var(--loading-ring-size);
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }