body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); 
    height: 85vh;
    margin: 1rem;
    align-items:center;
    justify-content: center;
    display: flex;
    color: rgb(13, 14, 13);
    bottom: 5%
}
#mainContainer{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#chart-1{
    height: 200;
    margin: 0 auto;
}
#chart-1.column{
    --labels-size:3rem;
}
#chart-1 tr {
    transition-duration: 0.3s;
    max-width: 7rem;
}
#chart-1 tr:hover {
    background-color: rgba(135, 193, 216, 0.2);
}
#chart-1 tr:hover th {
    background-color: rgba(43, 67, 77, 0.2);
}