body {
    background: rgba(30,30,30,255);
}
#mainContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center; 
    align-items: center;
    color: rgb(189, 209, 202);
}
#chart-1{
    height: 200;
    margin: 0 auto;
}
#chart-1.column{
    --labels-size:3rem;
}
#chart-1 tr {
    transition-duration: 0.3s;
    max-width: 7rem;
}
#chart-1 tr:hover {
    background-color: rgba(135, 193, 216, 0.2);
}
#chart-1 tr:hover th {
    background-color: rgba(43, 67, 77, 0.2);
}