body {
    background: rgba(30,30,30,255);
    color: rgb(189, 209, 202);
    overflow: hidden;
}
#mainContainer{
    position: absolute;
    display: flex;
    justify-content: center;
    margin: -10px;
    height: 100%;
    width: 100%;
}
#chart-1{
    align-self:flex-end;
    height: 200;
    margin: 0 auto;
}
#chart-1.column{
    --labels-size:3rem;
}
#chart-1 tr {
    transition-duration: 0.3s;
    max-width: 7rem;
}
#chart-1 tr:hover {
    background-color: rgba(135, 193, 216, 0.2);
}
#chart-1 tr:hover th {
    background-color: rgba(43, 67, 77, 0.2);
}

.data{
    color: white;
    font-family: cursive;
    text-shadow: 1px 1px 1px black;
}

#min-to-hour {
    position: absolute;
    opacity: 0;
    top: 90vh;
    right: 5vh;
}
