<!DOCTYPE html>
    <head>
        <meta charset="ISO-8859-1">
        <title>steam-tracker</title>
        <link th:href="@{css/charts.min.css}" rel="stylesheet">
        <link th:href="@{css/base.css}" rel="stylesheet">
        <link th:href="@{css/index.style.css}" rel="stylesheet">
    </head>
    <body>
        <a href="/" class="nav">HOME</a>
        <div id="form-container">
            <form id="form" autocomplete="off" action="/my-games" method="get">
                <input type="text" placeholder="https://steamcommunity.com/profiles/70000000000000030/" name="userID" required/><br/>
                <input type="submit" value="Find me!">
            </form>
        </div>
        <a class="tooltip" href="#">?<span class="tooltiptext">You can input a link to Your Steam profile, or enter the SteamID directly!</span></a>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" th:src="@{js/index.js}"></script>
</html>