<!DOCTYPE html>
    <head>
        <meta charset="ISO-8859-1">
        <title>whatdidiplaytoday?</title>
        <link th:href="@{css/charts.min.css}" rel="stylesheet">
        <link th:href="@{css/index.style.css}" rel="stylesheet">
    </head>
    <body>
        <form id="form" action="/my-games" method="get">
            <input type="text" name="userID" required/><br/>
            <input type="submit" value="Find me!">
        </form>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" th:src="@{js/form-subm.js}"></script>
</html>