<!DOCTYPE html>
    <head>
        <meta charset="ISO-8859-1">
        <title>whatdidiplaytoday?</title>
        <link th:href="@{css/charts.min.css}" rel="stylesheet">
        <link th:href="@{css/base.css}" rel="stylesheet">
        <link th:href="@{css/mygames.style.css}" rel="stylesheet">
    <body>
        <div id="mainContainer">
            <table id="chart-1" class="charts-css column show-labels show-primary-axis show-5-secondary-axes data-spacing-1 show-data-on-hover">
                <caption>Games chart</caption>
                <tbody>
    
                </tbody>
            </table>  
        </div>
        <a class="tooltip" href="#">?<span class="tooltiptext">If You don't see any values attached to the columns, it means that the amount played is less than 30 minutes!</span></a>
        <label id="min-to-hour">In minutes <input type="checkbox"  id="min-to-hour_checkbox" onclick="min_to_hour()"></label>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/scripts.js}"></script>
</html>